/* @group ----- Generic styles ----- */

@mixin resource-link {
    display: flex;
    align-items: center;
    border-bottom: 0;

    .resource-name {
        text-decoration: dotted underline;
    }

    img {
        width: 2 * $spacing-unit;
        height: auto;
        padding: .5 * $spacing-s;
        border: 1px solid #000;
        margin: 0 (.25 * $spacing-unit) 0 0;
    }
}

/* @end */

/* @group ----- Generic styles ----- */

* { box-sizing: border-box; }

body {
    font-family: "PT Serif", Times, serif;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: $spacing-unit;
}

h1 {
    font-size: 2 * $base-font-size;
    line-height: 2 * $base-line-height;
}

h2 {
    font-size:1.5 * $base-font-size;
    line-height: 1.5 * $base-line-height;
}

h3 {
    font-size: 1.25 * $base-font-size;
    line-height: 1.25 * $base-line-height;
}

h4 {
    font-size: 1.125 * $base-font-size;
    line-height: 1.125 * $base-line-height;
}

h5, h6 {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h6 {
    font-weight:normal;
    font-style:italic;
}

a {
    border-bottom: 1px dotted;
    text-decoration: none;

    img {
        margin-bottom: -2px;
        vertical-align: sub;
        border: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

p,ul,ol,dl {
    @include body-copy;
}

ul, ol{
    ul, ol {
        margin:0;
    }
}

dd { margin-left:1.3333em; }

table {
    width:100%;
    border: 1px solid $gray;
    border-width: 1px 1px 0 0;
    margin-bottom:1.3333em;
    border-collapse: collapse;
}

th {
    font-weight:bold;
    text-align:left;
}

th, td {
    border: solid $gray;
    border-width: 0 0 1px 1px;
    padding: 4px;
}

blockquote {
    font-style:italic;
    margin: {
        left: 2.6667em;
        right: 2.6667em;
    }
}
#skipnav {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

#skipnav:focus {
    top:0;
    z-index:9999;
    clip:initial;
    height:auto;
    width:auto;
    padding:.5em;
    border:1px blue dashed;
}

#content {
    padding: 0 $spacing-unit;
    outline: none;
}

/* @end */

/* @group ----- Reusable classes ----- */

.active { font-weight: bold; }

.item-img,
.image {
    float: left;
    display: block;
    margin: 0 $spacing-unit $spacing-unit 0;
    height: 100px;
    border-bottom: 0;
    overflow: visible;
}

.resource-list img,
.media-list img {
    height: 100%;
    border: 1px solid $gray;
    padding: (($spacing-s) - 1px);
    background-color: #fff;
}

.item-set .image {
    box-shadow: -3px -3px 0 rgba(0,0,0,.2), -6px -6px 0 rgba(0,0,0,.1);
    margin-left: 6px;
}

.record {
    clear: both;
}

.media-render > a {
    border-bottom: 0;
}

/* @end */

/* @group ----- Formalize Styles -----  */
/* == http://formalize.me == */

/* `Widths
----------------------------------------------------------------------------------------------------*/

.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

/*
  Added via JS to <textarea> and class="input_full".
  Applies only to IE7. Other browsers don't need it.
*/
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* `UI Consistency
----------------------------------------------------------------------------------------------------*/

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

.button, button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  border:0;
  cursor: pointer;
  font-family:'PT Serif', serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  width: auto;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  border-radius: 0;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  outline: 0;
  padding: 3px 10px;
  font-size: $base-font-size;
  font-family: "PT Serif", serif;
  height: 1.8em;
}

/*
  Separate rule for Firefox.
  Separate rule for IE, too.
  Cannot stack with WebKit's.
*/
::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

:invalid {
  /*
    Suppress red glow that Firefox
    adds to form fields by default,
    even when user is still typing.
  */
  box-shadow: none;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  box-shadow: #333 0 0 7px;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  box-shadow: none;
  user-select: none;
  color: #888;
  cursor: default;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background: #fff url('../../../../application/asset/img/select-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 6px center;
    background-size: 6px;
    padding-right: $spacing-unit;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 11px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    box-shadow: none;
    background: #666;
    border: 0;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

/* @end */

/* @group ----- Theme-Specific Form Elements ----- */

legend { @extend h3; }

fieldset {
    display:block;
    clear:both;
    border: 0;
    margin: 0;
    padding: 0;
}

.multi-value.field .field-meta {
    padding-right: 2 * $spacing-unit;
    min-height: 1.5 * $spacing-unit;
    position: relative;
    
    .add-value {
        position: absolute;
        top: 0;
        right: $spacing-s;
        width: $spacing-unit;
    }
}

.field-meta {
    margin: $spacing-s 0;
}

.field-meta label,
.field-meta .label {
    font-weight: bold;
}

.search-entry {
    background-color: rgba(0,0,0,.05);
    padding: ($spacing-m) 2%;
    margin-bottom: $spacing-unit;
    overflow: auto;
    margin-top: ($spacing-m);
}

.remove_search {
    width: 1.25 * $base-line-height;
    position: relative;
    height: 1.25 * $base-line-height;
}

#advanced-search {
    margin: $spacing-unit 0;

    button,
    a.button {
        border: 1px solid #000;
    }

    input, 
    select,
    .search-entry select,
    .search-entry input[type="text"] {
        padding-top: .25 * $spacing-unit;
        padding-bottom: .25 * $spacing-unit;
        height: auto;
        display: block;
    }

    .search-entry:first-child .advanced-search-joiner {
        display: none;
    }

    input[type=submit], button {
        width:auto;
        border-radius: 0;
    }

    .submit {
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit;
    }

    .search-entry input[type=text] {
        margin-bottom: 0;
    }

    #search-narrow-by-fields .inputs {
        margin-bottom: $spacing-unit;
    }

    .field {
        border-bottom:1px solid $gray;
        width:100%;
        overflow: auto;
        padding: $spacing-m 0;
        margin-bottom: 0;
        
        .remove-value {
            margin-left: $spacing-s;
        }

        .value {
            margin-bottom: $spacing-m;
            flex-wrap: wrap;
        }
        
        .value:last-child {
            margin-bottom: 0;
        }
    }

    [name*="sort_"] {
        width: auto;
        display: inline-block;
    }
}

#advanced-search input[type="submit"] {
    margin-top: $spacing-unit;
}

#advanced-search .value:only-child .remove-value {
    display: none;
}

ul.items-list, ul.collections-list, ul.title-list {
    list-style:none;
    margin-left:0;
}

.title-list li {
    line-height:1.33333em;
    margin-bottom:1.33333em;
}

textarea#rights {
    float:none;
    display:none;
    line-height:1.33333em;
    width: 512px;
    border:none;
    height:31em;
    color:#444;
    padding:0;
    margin:0;
}

div.error {
    line-height:1.33333em;
    margin:1.33333em 0;
}

/* == Microformats == */

.hTagcloud {
    margin-top:2em;

    ul {
        list-style:none;
        margin-left:0;
        padding-left:0;
        line-height:1.8em;
    }

    li {
        display:inline;
        margin-right:8px;
    }
}

/* @end */

/* @group ----- Header ----- */

#skipnav {
  position: fixed;
  top: $spacing-unit;
  left: 50%;
  border: 1px solid $gray;
  transform: translateX(-50%);
  z-index: -5;
  padding: $spacing-s;
  background-color: #fff;
  opacity: 0;
  
  &:focus {
    z-index: 1000;
    opacity: 1;
  }
}

header {
    background-size: auto !important;
    background-position-x: right !important;
}

header h1 {
    margin-bottom: 0;
}

.site-title {
    font-size: 2 * $base-font-size;
    padding: $spacing-unit;
    border-bottom: 0;
    display: block;
    color: #000;

    img {
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
        margin: -.8 * $spacing-unit;
    }
}

/* @end */

/* @group ----- Navigation -----  */

nav ul { padding-left: 0; }

ul.navigation { 
  padding-left: 0; 
}

.top ul {
    border: solid $gray;
    border-width: 0 0 1px 0;
}

.bottom ul { margin-bottom:0; }

.button.menu-button {
    cursor: pointer;
    padding: ($spacing-m) $spacing-unit;
    display: block;
    text-transform: uppercase;
}

.button.menu-button:after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url('../images/menu.png');
    background-size: contain;
    margin-left: 10px;
}

#primary-nav ul.navigation {
    border-top: 1px solid $gray;
    position: relative;
    display: none;
    margin-top: 0;
  
    &.open {
        display: block;
    }

    ul {
        margin: 0;
        padding: 0;
        border-top: 0;
        list-style-type: none;

        li {
            width: 100%;
            box-sizing: border-box;
            margin: 0;

            a { padding: ($spacing-m) $spacing-unit ($spacing-m) (2 * $spacing-unit); }

            ul li a { padding-left: 4em; }
        }
    }

    ul.sub-nav {
        display: none;
    }

    .open > ul, .sub-nav.open {
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
    }

    & > li {
        padding: 0;
        list-style-type: none;
        width: 100%;

        @media screen and (max-width: $break) {
            padding: 0;
        }

        a {
            border-bottom: 1px solid $gray;
            display:block;
            padding: ($spacing-m) $spacing-unit;

            &:focus {
              outline: 1px dotted;
            }
        }
    }

    .parent {
        position: relative;
    }
    
    .parent > a {
        padding-right: $spacing-unit;
    }

    .active li a {
        font-weight: normal;
    }

    .sub-nav-toggle:after,
    [aria-haspopup="true"]:after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f055";
        font-size: 14px;
        float: right;
        transition-property: transform;
        transition: .5s ease;
        display: inline-block;
    }

    .open > .sub-nav-toggle:after,
    [aria-haspopup="true"].open:after {
        transform: rotate(405deg);
    }

    .sub-nav-toggle {
        position: absolute;
        top: 0;
        right: 0;
        height: (2 * $spacing-unit);
        width: (2 * $spacing-unit);

        &:after {
            float: none;
            text-align: center;
        }
    }
}

.pagination {
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    form {
        margin-right: $spacing-m;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
    }

    input[type=text] {
        width: 4rem;
        margin-right: 5px;
        vertical-align: top;
        border: 1px solid;
        text-align: right;
    }

    .inactive {
        opacity: .5;
    }

    .pagination-buttons {
        margin-right: $spacing-m;
    }

    .button {
        display: inline-block;
    }
}

nav.pagination:nth-of-type(3), #content > .pagination:nth-of-type(2) {
    width: 100%;
    height: 96px;
}

nav.pagination:nth-of-type(3) ul, #content > .pagination:nth-of-type(2) {
    border-top: 1px solid $gray;
    border-bottom: 0;
    padding-top: $spacing-unit;
    margin: 0 0 $spacing-unit 0;
}

#content > nav.pagination:nth-of-type(2) {
    width: 100%;
    height: auto;
    padding-top: 0;
    margin-bottom: 0;
    border-top: 0;
}

.site-page-pagination {
    border-top: 1px solid $gray;
    margin: 0 0 $spacing-unit 0;
    display: flex;
    justify-content: space-between;
    padding-top: $spacing-unit;
    clear: both;

    a {
        display:block;
    }
}

.breadcrumbs {
    margin-bottom: $spacing-unit;
}

.sub-menu .navigation {
    list-style: none;
    border-left: 3px solid #000;
    padding: ($spacing-m) $spacing-unit;
}

.sub-menu li {
    margin-bottom: $spacing-m;
}

/* @end */

/* @group ----- Content ----- */

.expand:after,
.collapse:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.expand:after {
    content: "\f0da";
}

.collapse:after {
    content: "\f0d7";
}

.collapsible {
    display: none;
}

.collapse + .collapsible {
    display: block;
    padding-left: $spacing-unit;
    margin: $spacing-unit 0;
    width: 100%;
    border-left: 1px solid $gray;

    h4 {
        font-size: $base-font-size;
        line-height: $base-line-height;
    }
}

.property {
    margin-bottom: $spacing-unit;
    
    &:last-child {
        margin-bottom: 0;
    }

    dt {
        margin-bottom: 0;
        font-weight: bold;
        font-size: 1.125 * $base-font-size;
        line-height: 1.125 * $base-line-height;  
    }
    
    dd.value {
        padding-bottom: $spacing-s;
        margin: 0 0 $spacing-s;
        border-bottom: 1px solid $gray;
    }

    .value,
    .resource-link {
        @include resource-link();
    }
 
    .value:last-child {
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }

    .value-content:not(:only-child),
    .language,
    .resource-link img {
        margin-right: $spacing-s;
    }

    .language {
        background-color: #000;
        color: #fff;
        padding: 0 $spacing-s;
        align-self: flex-start;
    }

    .resource-link,
    .expand,
    .collapse {
        border-bottom: 0;
    }

    .resource-link .resource-name {
        border-bottom: 1px dotted;
    }

    .resource-link .resource-name,
    .expand,
    .collapse {
        align-self: center;
    }
}


#outputs {
    clear: both;
}

.resource-list {
  padding-left: 0;
  clear: both;

  .resource-title {
    font-size: 1.25 * $base-font-size;
    line-height: 1.25 * $base-line-height;
    font-weight: bold;
  }

  .resource {
    overflow:hidden;
    border-top:1px solid $gray;
    padding: $spacing-unit 0;
  }

  .thumbnail {
    margin-bottom: $spacing-unit;
    display: inline-block;
    border-bottom: 0;
  }
}


.browse {  
    .pagination form {
        margin-right: $spacing-m;
    }
    
    .row-count {
        margin-left: $spacing-m;
    }
        
    .advanced-search {
        margin: $spacing-m 0;
        display: inline-block;
    }

    .property { 
        margin-bottom: $spacing-unit; 
    }
    
    .sorting {
        display: flex;
    }
    
    .sorting select {
        margin-right: $spacing-s;
    }
}


.show #content > h2:first-child,
.item-set.item.browse #content > h2:first-child {
    margin-bottom: $spacing-s;
}

.show #content > h2 + h3,
.item-set #content > h2 + h3 {
    display: inline-block;
    padding: $spacing-s;
    font-weight: normal;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background: #000;
    color: #fff;
}

.linked-resource .resource-link {
    @include resource-link();
}

.browse .collection {
    clear: both;
    border-top: 1px solid $gray;
    padding-top: $spacing-unit - 1px;

    .view-items-link {
        display: inline-block;
        margin-bottom: $spacing-unit;
    }
}

.toc-block > ul > li {
    margin-bottom: 0 !important;
}

.toc-block ul ul {
    margin-top: $spacing-s;
}

.toc-block li {
    padding: $spacing-s;
    display: block;
}

/* @end */

/* @group ----- Footer ----- */

footer {
    clear:both;
    overflow:hidden;
    padding: $spacing-unit;
    margin-top: $spacing-unit;
    border-top:1px solid #000;
    width: 100%;

    p {
        float:left;

        @media screen and (max-width: $break) { width: 30%; }
    }

    ul {float:right; width:60%; margin:0 0 0 60px;text-align:right;}
    li {margin-left:12px;}
}

/* @end */

/* @group ----- Search ----- */

#search {
    position: relative;
    box-sizing: border-box;
    margin: $spacing-unit;
 
    &:after {
      content: "";
      display: block;
      height: 0;
      width: 100%;
      clear: both;
    }

    a {
        font-size:.875em;
        text-decoration:none;
        display: inline-block;
        clear: both;
    }

    h2 { display:none; }

    input[type=text], .button {
        height: 30px;
        font-size: $base-font-size;
        line-height: $base-line-height;
    }

    button {
        width: 30px;
        border: 0;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        padding: 3px 5px;
        border-radius: 0;
        text-indent: -9999px;

        &:after {
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f002";
            text-indent: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            text-align: center;
            height: 30px;
            line-height: 30px;
        }
    }

    input[type=text] {
        width: 100%;
        border: 1px solid #000;
        padding: 5px 40px 5px 10px;
    }
}

.search-filters {
  margin-bottom: $spacing-unit;

  .filter {
        display: inline-block;

        &:after {
            content: " \00B7";
            margin: 0 10px 0 5px;
        }

        &:last-child:after {
            content: "\00A0";
        }
        
        .filter-label {
          font-weight: bold;
          
          &:after {
              content: ":";
          }
        }
    }
}

#search-filters {
    margin-bottom: $spacing-unit;
}

#search-filters ul {
    margin: 0;
}

#search-filters li li {
    text-transform: lowercase;

    &:after {
        margin: 0 .1em 0 0;
    }
}

#search-results td,
#search-results th {
    vertical-align: top;
    padding: ($spacing-m);
}

.results .image,
#search-results .image {
    margin: 0 ($spacing-m) 0 0;
}

.sitewide-search-form {
    display: none;
}

.sitewide-search-form ~ .advanced-search {
    margin-top: -$spacing-m;
    margin-bottom: $spacing-m;
}

.sitewide-search-form ~ h2,
.sitewide-search-form ~ .pagination {
    width: 100%;
}

.results {
  margin-bottom: 2 * $spacing-unit;
  clear: both;
}

.results ul {
  list-style: none;
  padding-left: 0;  
}

.results .result-title {
  font-weight: bold;
}

.results > ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.results > ul > li {
  margin-bottom: $spacing-unit;
    width: calc(50% - #{$spacing-unit});
  
  &:nth-child(2n) {
    margin-left: $spacing-unit;
  }
 }
 
 .results .result-site,
 .results ul ul {
   padding-left: $spacing-m;
   display: block;
 }
 
.results > a:last-child {
   margin-top: (-$spacing-m);
 }

.results .resource-link {
    @include resource-link();
}

.pagination + .results {
  margin: $spacing-unit 0 0;
  clear: both;
}

.sitewide-search-form ~ .results + .pagination {
  margin-top: 0;
}

.sitewide-search-form ~ p {
  clear: both;
}

.index.search .results ul li {
  margin-bottom: $spacing-s;
  padding-bottom: $spacing-s;
  border-bottom: 1px solid $gray;
}

/* @end */

/* @group ----- Colors ----- */

body {
    color:#444;
}

header {
    border-color: #000;
    display: flex;
    align-items: center;

    &.medium {
        min-height: 7 * $spacing-unit;
    }
    
    &.tall {
        min-height: 10 * $spacing-unit;
    }
}

a {
    &:link { color: #4f6780; }

    &:hover
    &:active { 
        color: #3763a6; 
    }
}

.button, button,
input[type="reset"],
input[type="submit"],
input[type="button"],
.pagination_next a,
.pagination_previous a {
  background-color: #000;
  color: #fff;
}

/* @end */

/* @group ----- Page Blocks ----- */

.block-listOfSites .site-list .site {
    overflow: visible;
    float: left;
    width: 100%;
}

.block-listOfSites .pagination {
    clear: left;
}



/* @group ----- Other Plugins ----- */

#recaptcha_area input {
    height: auto;
}

.faceted-browse-page #container {
    flex-wrap: wrap;
}

.faceted-browse-page .tablesaw td {
    border-color: $gray;
}

.faceted-browse-page button .close-glyph {
    color: #000;
}

.faceted-browse-page .resource-link {
    @include resource-link();
}

.browse-controls .button {
    display: inline-block;
}

table.tablesaw {
    border: 1px solid $gray;
}

table.tablesaw td {
    height: 1.5 * $spacing-unit;
}

/* @end */
